:root {
    --index: 1;      /* Exemple de valeur */
    --index0: 0;     /* Exemple de valeur */
    --numcards: 6;   /* Exemple de valeur */
    --start-range: calc(var(--index0) / var(--numcards) * 100%);
    --end-range: calc(var(--index) / var(--numcards) * 100%);
}
/* styles.css */
body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}


/*        header        */

/* Navbarre     */
.navbarre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 3em;
    width: 70%;
    position: fixed;
    z-index: 1000;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 4px;
    border: solid 1px white;
    margin-left: 15%;
}

.navbarre ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 0em;
    margin-left: 0em;
}

.navbarre li {
    list-style: none;
    margin-right: 1em;
    align-items: center;
}

.navbarre li a {
    text-decoration: none;
    color: rgb(0, 94, 255);
    padding: 0.4em;

}

.navbarre li a:hover {
    background-color: #555;
    /* Couleur de fond au survol */
    color: rgb(145, 177, 219);
    /* Couleur du texte au survol */
    border-radius: 5px;
    /* Arrondir les coins */
    animation: fadeIn 1s forwards;
}

.logo {
    position: absolute;
    left: 1em;
    color: white;
    text-shadow: black 2px;
    text-decoration: none;
}

.logo a {
    text-decoration: none;
    color: beige;
}


.burger-menu-btn {

    position: absolute;
    top: 10px;
    right: 10px;
    color: aliceblue;
    font-size: 1.7rem;
    margin-right: 1em;
    display: none;
    flex-direction: row-reverse;
    float: right;
    padding-top: 1em;
    z-index: 1000;
}

.burger-menu button:hover {
    cursor: pointer;
}

.burger-menu-btn:hover {

    cursor: pointer;
}

.burger-menu button {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.1em;
}

.burger-menu li a {

    text-decoration: none;
    color: #fff;
}

.burger-menu ul {
    list-style-type: none;
    overflow: hidden;
}

.burger-menu li {

    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.burger-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 65px;
    width: 200px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    height: 0px;
    z-index: 1000;

}

.burger-menu.open {

    height: 150px;
}

.burger-menu {
    display: block;

}

/*====================image intro============================*/

.caroussel {

    background-image: url(./../image/image_intro2.webp);
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 45%;
    height: 30em;
    display: flex;
    float: left;
    margin-top: 9em;
    margin-left: 4.2em;
}


.reseaux_sociaux {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.reseaux_sociaux a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid rgb(0, 94, 255);
    font-size: 2.5rem;
    border-radius: 50%;
    margin: 1em 0 1.5em 1em;
    color: rgb(0, 94, 255);
    transition: 0.3s ease-in-out;
}

.reseaux_sociaux a:hover {
    cursor: pointer;
    transform: scale(1.2)translateY(-3px);
    box-shadow: 0 0 15px rgb(18, 16, 16);

}

/*      Hero image      */

.hero_image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/hero_image_portfolio.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    position: relative;

}

h1 {
    color: aliceblue;
    margin-top: 0em;
    text-align: center;
    padding-top: 2em;

}

h2 {
    color: aliceblue;
    text-align: center;

}

/*      Hero image      */

/*  ==================COMPETENCES============================= */
.bio {

    margin-left: 5em;
    display: flex;
    flex-direction: column;
    margin: 10em 0 0 0;
}

.bio h2 {
    color: black;
    border-bottom: 2px solid #2c2c2cb5;
    text-align: right;
    width: 75%;
    margin-left: 5em;
}

.info_propos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
}
.bio_enssemble{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bio p {
    width: 70%;
    margin-left: 2.5em;
    text-align: center;
    font-size: 1.2em;
    border: 2px black solid;
    border-radius: 0.5em;
    background-color: rgb(43 117 234 / 33%);
    padding: 1rem;
    animation: reveal linear 5s;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
}

.bio img {
    width: 13em;
    height: auto;
    margin-right: 2em;
    border-radius: 50%;
}

.projet_contenu {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.projets h2 {
    color: black;
    text-align: right;
    margin-right: 8em;
    margin-top: 3em;
    border-bottom: 2px solid #2c2c2cb5;
}
.projets h3{
    border-bottom: 2px solid #2c2c2cb5;
}

.bouton_projet {
    display: flex;
    flex-direction: column;
   
    margin-left: 5em;
}

.bouton_projet label {

    background: linear-gradient(145deg, #6e7dff, #5560ea); /* Dégradé de bleu */
    border: none;
    color: white;
    font-size: 16px;
    margin: 3em 0 0 1em;
    padding: 1em 2em;
    border-radius: 3em;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    transition: all 0.3s ease;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1); /* Ombre portée subtile */
}

.bouton_projet label:hover {
    background: linear-gradient(145deg, #5560ea, #6e7dff); /* Inverser le dégradé au survol */
    transform: scale(1.05); /* Agrandissement au survol */
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
}
.bouton_projet label:focus {
    outline: none; /* Enlever le contour par défaut */
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.2); 
}
.bouton_projet label:active {
    transform: scale(0.95); /* Réduire légèrement la taille du bouton au clic */
    box-shadow: inset 2px 2px 15px rgba(0, 0, 0, 0.2); /* Ombre intérieure pour l'effet de clic */
}
.bouton-actif {
    border: 3px solid #a90f0fd9 !important;
    transition: all 0.3s ease !important;
}
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Animation continue de pulsation au survol */
.bouton_projet label:hover {
    animation: pulse 1.4s infinite; /* Appliquer l'animation de pulsation */
}




.bouton_projet input {
    display: none;
}

#text_1 {
    text-align: left;
}

.li_style {
    color: red;
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
    margin-top: 3em;
}

#to_update_1 {
    
    border-radius: 5px;
    padding: 0.9em;


}

.affiche_projet {
    width: 60%;
    height: 25em;


}

.compt_h2 {

    color: black;
    margin-top: 7em;
    text-decoration: underline 2px solid #2c2c2cb5;;

}

.card {
    position: relative;
    overflow: hidden;
    margin: 1em;
    width: 20em;
}

.card img {
    width: 20em;
    height: auto;
    background-size: cover;
    border-radius: 10px;
}

.conteneur_proj {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2em;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.overlay_card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.overlay_card:hover{
    opacity: 1;
}
.overlay li {
    color: white;
    font-size: 1em;
    text-align: left;

}

.overlay_card .text {
    color: white;
    font-size: 1em;
}


.carte {
    --index0: calc(var(--index) - 1);
    /* 0-based index */
    --reverse-index: calc(var(--numcards) - var(--index0));
    /* reverse index */
    --reverse-index0: calc(var(--reverse-index) - 1);
    /* 0-based reverse index */
}

.carte {
    position: sticky;
    width: 80%;
    top: 2.5em;
    margin-bottom: 0.5em;
    padding-top: calc(var(--index)* var(--card-top-offset));
    display: flex;
    justify-content: space-between;
    border: solid black 2px;
    border-radius: 10px;
    background-color: aliceblue;
}

#cards_anim {
    --numcards: 6;
    view-timeline-name: --cards-element-scrolls-in-body;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carte_content {
    --start-range: calc(var(--index0) / var(--numcards) * 100%);
	--end-range: calc((var(--index)) / var(--numcards) * 100%);

	animation: scale 1s linear forwards;
	animation-timeline: --cards-element-scrolls-in-body;
	animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);
    width: 50%;
    padding: 2em;
}

.carte_content h2 {
    color: #2c3e50;
    margin-top: -0.5em;
}




/* =========================== SOFT SKILLS =============================*/
.softSkills h2 {
    color: #34495e;
    margin-bottom: 1em;
}

.label{
    margin-top: 1em ;
    background-color:#42A5F5  ;
    width: 7em;
    border: solid black 2px;
    border-radius: 10px;
    padding: 0.5em;
    display: flex;
    justify-content: center
}

.voirPlus input[type="radio"]{
    display: none;
} 
input[type="radio"]:checked + .label{
    background-color: #1976D2;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 0 15px rgba(25, 118, 210, 0.836);

}   
input[type="radio"]:hover + .label {
    transform: scale(1.1); /* Agrandir légèrement le bouton */
    background-color: #1E88E5; /* Changer la couleur de fond au survol */
}
input[type="radio"]:checked:hover + .label {
    transform: scale(1.1);
    background-color: #3F51B5; /* Un autre fond pour montrer que l'élément est sélectionné */
}


@media (max-width: 768px) {

    h1 {

        font-size: 2.5em;
    }

    .burger-menu-btn {
        display: flex;
    }

    .navbarre {
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        /* Commence invisible */
    }

    to {
        opacity: 1;
        /* Devient visible */
    }
}

@keyframes reveal {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }

}

@keyframes scale {
    to {
        transform: scale(1.1 - (0.1 * var(--reverse-index)));
    }
}

.simple-icons--rootme {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M21.364 9.897c0-.448-.029-.896-.096-1.325c0-.028-.009-.057-.009-.086c-.582-3.785-3.452-6.894-7.228-7.723a.96.96 0 1 0-1.144 1.144v3.519c0 .057.028.114.076.152a.2.2 0 0 0 .105.029c.019 0 .048 0 .067-.01l1.411-.534a.7.7 0 0 0 .41.286v1.659c-.715.878-1.602 1.669-2.546 2.375l-1.077-2.499a.73.73 0 0 0 .333-.61a.734.734 0 1 0-.734.734h.038l1.125 2.603c-.658.477-1.335.906-2.002 1.297l-3.204-.963a.16.16 0 0 0-.114.01l-.954.372a.734.734 0 1 0 .143.438c0-.028-.009-.057-.009-.086l.896-.352l2.794.839a33.5 33.5 0 0 1-4.873 2.231l-.171.057a.92.92 0 0 0-.553-.181h-.029a8.7 8.7 0 0 1-.677-3.366c0-.572.057-1.135.162-1.678H7.69a.726.726 0 0 0 .706.543a.734.734 0 0 0 0-1.468a.73.73 0 0 0-.706.543h-4.1c.772-3.137 3.251-5.644 6.455-6.388a.98.98 0 0 0 .82.467c.534 0 .963-.429.963-.963S11.399 0 10.865 0a.97.97 0 0 0-.944.763c-4.205.953-7.285 4.739-7.285 9.125a9.3 9.3 0 0 0 .735 3.642a.967.967 0 0 0 .372 1.602v3.757c0 .067.019.134.057.191l.21.143l2.851 2.012v2.403c0 .2.162.362.362.362h9.535c.2 0 .362-.162.362-.362v-2.403l2.861-2.012l.21-.153a.34.34 0 0 0 .057-.19v-3.786a.958.958 0 0 0 .353-1.535a9 9 0 0 0 .763-3.662m-1.383 3.366h-.086a.96.96 0 0 0-.334 1.86v3.509l-3.003 2.117a.36.36 0 0 0-.153.295v2.022a.21.21 0 0 1-.21.209H15.08a.21.21 0 0 1-.21-.209v-.725c0-.191-.133-.362-.324-.382a.367.367 0 0 0-.401.363v.753c0 .115-.095.21-.209.21h-1.364a.21.21 0 0 1-.21-.21v-1.116c0-.19-.133-.362-.324-.381a.366.366 0 0 0-.4.362v1.145a.21.21 0 0 1-.21.209h-1.364a.21.21 0 0 1-.209-.209v-.744c0-.191-.134-.362-.325-.382a.366.366 0 0 0-.4.363v.753c0 .115-.095.21-.21.21H7.805a.21.21 0 0 1-.21-.21v-2.021a.37.37 0 0 0-.153-.296l-2.994-2.117v-3.547a.96.96 0 0 0 .563-.877c0-.057-.01-.114-.019-.172c.381-.133 3.289-1.173 6.15-2.956c3.871-2.412 6.017-5.149 6.264-7.961a8.74 8.74 0 0 1 3.157 5.473c-.048 4.777-8.372 7.723-8.458 7.752c-.019.009-.067.019-.105.038c-.105-.019-.21-.038-.324-.057c-.076-.019-.162-.029-.239-.048c-.124-.019-.247-.048-.371-.076c-.02-.01-.048-.01-.067-.01l-.143-.028c-.057-.01-.115-.029-.172-.039a5 5 0 0 1-.391-.095c-.238-.057-.467-.124-.696-.181c-.219-.067-.448-.124-.658-.191H8.92a6 6 0 0 1-.467-.152a1 1 0 0 0-.153-.048c-.076-.029-.143-.048-.209-.067a3 3 0 0 1-.344-.124h-.009a6 6 0 0 1-.458-.171c-.143-.058-.267-.105-.362-.143c-.096-.048-.181-.077-.229-.105c-.057-.029-.086-.038-.086-.038s.019.028.057.066c.038.048.096.115.181.191c.077.076.182.172.306.267s.267.2.419.305h.01a2.1 2.1 0 0 0-.096.61c0 1.097.897 1.993 1.993 1.993c.849 0 1.573-.534 1.86-1.287l.295.029c.172.009.334.009.486.009c.01 0 .019.01.029.01l1.611 1.64c.41.41 1.049.477 1.526.162l2.517-1.411a.8.8 0 0 0 .363-.658v-2.899c.972-.772 1.85-1.688 2.422-2.727a8 8 0 0 1-.601 2.145m-7.799 5.87l-.002-.002q-.002-.003-.008-.003l-.013-.009l-.003-.002a.03.03 0 0 1-.013-.009c-.01 0-.019-.009-.029-.009c-.009 0-.019-.01-.019-.01c-.009 0-.019 0-.028-.009h-.115c-.009 0-.019 0-.028.009c-.01 0-.019.01-.019.01c-.01 0-.019.009-.029.009c-.009 0-.019.01-.029.02c-.009 0-.009.009-.019.009l-.038.038l-.772.963a.276.276 0 0 0 .219.448a.28.28 0 0 0 .219-.104l.01-.01a.7.7 0 0 1 1.097 0l.009.01a.287.287 0 0 0 .391.047a.277.277 0 0 0 .048-.391l-.782-.953q-.017-.015-.019-.029l-.019-.019zm-1.622-2.265c-.038.076-.095.152-.143.219a1.256 1.256 0 0 1-1.907 0a1.23 1.23 0 0 1-.295-.81c0-.077.009-.144.019-.22c.152.076.314.153.476.229c.22.095.449.191.687.267a9 9 0 0 0 1.163.315m-6.503-2.184a.5.5 0 0 1-.305-.114a.45.45 0 0 1-.133-.506a.47.47 0 0 1 .429-.295c.085 0 .162.028.229.067a.46.46 0 0 1 .228.4a.46.46 0 0 1-.066.229a.42.42 0 0 1-.382.219m16.21-.181a.48.48 0 0 1-.362.181a.47.47 0 0 1-.334-.143a.47.47 0 0 1-.124-.315c0-.2.124-.371.305-.429a.5.5 0 0 1 .162-.028a.48.48 0 0 1 .458.372a.3.3 0 0 1 .009.095a.7.7 0 0 1-.114.267m-5.845-9.869c0 .029.009.048.009.067l-1.163.438V1.897a.92.92 0 0 0 .658-.457a8.5 8.5 0 0 1 2.823 1.201c-.01 1.411-.554 2.708-1.412 3.881V5.34a.73.73 0 0 0 .544-.706c0-.4-.324-.734-.734-.734a.74.74 0 0 0-.725.734m-3.48-1.735a.734.734 0 0 0-.735.696l-1.458.534a.19.19 0 0 0-.134.181v.925H7.442a.73.73 0 0 0-.705-.544a.735.735 0 1 0 0 1.469a.73.73 0 0 0 .705-.544h1.364a.19.19 0 0 0 .19-.19v-.983l1.288-.476c.124.238.372.4.648.4a.734.734 0 0 0 .734-.734a.725.725 0 0 0-.724-.734m-.41-2.241a.46.46 0 0 1 .343-.153a.468.468 0 1 1-.258.859a.48.48 0 0 1-.209-.382a.45.45 0 0 1 .124-.324m2.097.305a.467.467 0 0 1 .801-.324a.462.462 0 0 1-.076.696a.43.43 0 0 1-.267.086a.45.45 0 0 1-.458-.458'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.bio .animate_1 {
    transform: translateX(-100%) ;
    transition: transform 0.5s ease-out;
}
.bio .animate_2 {
    transform: translateX(150%) ;
    transition: transform 0.5s ease-out;
}
.bio.show-animate .animate{
    transform: translateX(0) ;

}
section .animate{
    transition: transform 0.7s ease-out;
    
}

.container_ss {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card_ss {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
    
    
}
.card_ss > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    font-family: cursive;

}
.card_ss  .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    margin-top: 13em;
}
.card_ss .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: auto;
    width: 28em;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}
.description p {
    color: black;
    padding-top: 5px;
}
.description h3 {
    text-transform: uppercase;
    color: black;
}
.container_ss input {
    display: none;
}
.container_ss input:checked + label {
    width: 600px;
}

.container_ss input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card_ss[for="c1"] {
    background-image: url('./../image/SS_travaille_equipe.webp');

}
.card_ss[for="c2"] {
    background-image: url('./../image/card_ad.webp');
}

.soft_skills{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 4em 0;
}