ul {
    text-align: left;
    margin-top: 1.5em;
}

section {
    margin-top: 7em;
}

.para {
    margin-top: 2.5em;
    text-align: left;
}

h2 {
    color: var(--bs-primary);
}

fieldset {
    border: 1px solid gray;
    /* Ajoute une bordure noire */
    padding: 10px;
    /* Ajoute un peu de padding */
}

legend {
    font-weight: bold;
    /* Met le texte de la légende en gras */
    color: yellow;
    float: none !important;
    text-align: left;
    width: auto;
}
.etape4 li{
    text-align: left;
}