/* General Reset */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Empêche le scroll horizontal */
}

/* Background Animation */
#particles-js {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1d1f27; 
  z-index: -1; 
  position: absolute;
  pointer-events: none;

}

/* Centered Text Content */
.centered-content {
  position: relative;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5); /* Transparent black */
  padding: 2em;
  border-radius: 10px;
  backdrop-filter: blur(10px); /* Blur effect */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  margin: 0 auto; /* Centre horizontalement */
  max-width: 900px; /* Limite la largeur pour un affichage lisible */
}

.centered-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.centered-content p {
  font-size: 1.2rem;
}

/* Spacing and Content Layout */
.content {
  margin-top: 5em;
  padding: 20px; /* Ajoute un peu d'espace autour du contenu */
}

.dir {
  margin: 2em;
  font-size: 1.5em;
}

.folder_wu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.folder_wu svg {
  width: 3em;
  height: auto;
}

.active {
  color: rgb(7, 255, 82) !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: white !important;
}
